name: CD
on:
  push:
    branches:
      - main
      - develop
  release:
    types:
      - published

jobs:
  build:
    name: Build Release Binary
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Build
        run: cargo build --release
  test:
    name: Test Package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Test
        run: cargo test 
  publish:
    name: Publish Package
    runs-on: ubuntu-latest
    needs: [build, test]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Publish
        run: cargo publish --token ${{ secrets.CARGO_TOKEN }}