name: CD
on:
  push:
    branches:
      - main
      - develop
  release:
    types:
      - published
permissions: # needed to interact with GitHub's OIDC Token endpoint.
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Build
        run: cargo build --release
      - name: Test
        run: cargo test
      - name: Publish
        run: cargo publish --token ${{ secrets.CARGO_TOKEN }}